/*CSS FONT FAMILY */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400;1,500;1,700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');

/* GENERAL SELECTOR */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

/* APP ROOT */
html, body, #root, .app, .content {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  width: 100%;
}

.app{
  display: flex;
  position: relative;
}
::-webkit-scrollbar{
  width: 100px;
}
/* TRACK */
::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}
/* HANDLE */
::-webkit-scrollbar-thumb{
  background-color: #888;
}
/* HANDLE ON HOVER */
::-webkit-scrollbar-track:hover{
  background-color: #555;
}
.icons{
  color: #888888;
  /* color: cornflowerblue; */
  font-size: 1.5rem !important;
}
